header { grid-area: header;}
aside {grid-area: aside;}
main {grid-area: main;}
nav{grid-area: nav;}
footer{grid-area: footer;}

.container {
    display: grid;
    grid-template-areas: 
    "header header header header header"
    "aside main main main main"
    "aside main main main main"
    "aside main main main main"
    "aside main main main main"
    "nav nav nav nav nav"
    "footer footer footer footer footer";
}

header {
    text-align: left;
    }
body {
    text-align: left;
    font-family: 'Nunito', sans-serif;
    margin-left: 0.5in;
    background-image: linear-gradient(135deg, #5083c5 0%, #538aca 100%);
    }
img {
    margin: 40px 0 0 0 ;
    border: 2px solid #FFE5B4;
    max-width: 100%;
    float: left;
    width: 350px;
    height: 350px;
    object-fit: cover;
    }
h1 {
    font-size: 30px;
    margin: 40px 0 25px 0;
    color:  #FFE5B4;
    padding: 0 30px 0 0;
    }
h2 {
    font-size: 18px;
    color:  #FFE5B4;
    }
h3 {
    font-size: 12px;
    color:  #FFE5B4;
    }
p {
    font-size: 14px;
    color:  #FFE5B4;
}
a {
    text-decoration: none;
}
nav {
    text-align: center;
}
aside {
    padding: 0 50px 0 0;
}
footer {
    text-align: center;
}
.social-media-list {
    list-style: none;
}
.social-media-list li {
    display: inline-block;
    margin-right: 1em;
    font-size: 180%;
}
.social-media-list li a {
    color: #FFE5B4;
    transition: color 0.5s;
}
.social-media-list li a:hover {
    color: black;
}
@media (max-width: 576px) {

.container {
    display: grid;
    grid-template-areas: 
    "header"
    "aside"
    "aside"
    "main"
    "main"
    "nav"
    "footer";
}
}
